.Box
  margin-top 10px
  text-align center

  input
    color #ddd
    font-size 40px
    font-style bold
    outline none
    width 50%

  #Reporter
    background rgba(255, 0, 0, 0.5)
    color #a22
    font-family "Courier New", Courier, monospace
    margin auto
    padding 3px
    text-align left
    width 50%
